:root {
  --couleur-primaire: #00C2C7;
  --couleur-secondaire: #0C1116;
  --couleur-accent: #1F2937;
  --couleur-texte: #FFFFFF;
  --bg-couleur: #0C1116;
  --font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  background-color: var(--bg-couleur);
  color: var(--couleur-texte);
}
